To complete this challenge:

1. Download the Adventure Works data files - see previous unit.  
2. Clean the data by replacing any missing values and removing duplicate rows. In this dataset, each customer is identified by a unique customer ID. The most recent version of a duplicated record should be retained.
3. Explore the data by calculating summary and descriptive statistics for the features in the dataset, calculating correlations between features, and creating data visualizations to determine apparent relationships in the data.
4. Based on your analysis of the customer data after removing all duplicate customer records, answer the questions below.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

# Data cleaning and basic statistics

## Average month spending file

In [9]:
AveMonthSpend = pd.read_csv('AW_AveMonthSpend.csv')
AveMonthSpend.head(20)

    CustomerID  AveMonthSpend
0        11000             89
1        11001            117
2        11002            123
3        11003             50
4        11004             95
5        11005             78
6        11006             54
7        11007            130
8        11008             85
9        11009             74
10       11010             49
11       11011            146
12       11012             55
13       11013             84
14       11014             49
15       11015             39
16       11016             68
17       11019             64
18       11020             64
19       11023             71

We need to check if there are duplicate customers ID

In [14]:
print(AveMonthSpend.shape)
print(AveMonthSpend.CustomerID.unique().shape)

(16519, 2)
(16404,)

Now we need to remove the duplicated rows.The most recent version of a duplicated record should be retained.  
the keep flag has two options: first and last.

In [17]:
AveMonthSpend.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(AveMonthSpend.shape)
print(AveMonthSpend.CustomerID.unique().shape)

(16404, 2)
(16404,)

Lets get a statistical summary of the data, notice that the median is the 50% percentil

In [18]:
AveMonthSpend.describe()

         CustomerID  AveMonthSpend
count  16404.000000   16404.000000
mean   20240.143136      72.391002
std     5340.370705      27.269921
min    11000.000000      22.000000
25%    15617.750000      52.000000
50%    20231.500000      68.000000
75%    24862.250000      84.000000
max    29482.000000     176.000000

In [19]:
AveMonthSpend.median()

CustomerID       20231.5
AveMonthSpend       68.0
dtype: float64

## Bike Buyer file

In [20]:
BikeBuyer = pd.read_csv('AW_BikeBuyer.csv')
BikeBuyer.head(20)

    CustomerID  BikeBuyer
0        11000          0
1        11001          1
2        11002          0
3        11003          0
4        11004          1
5        11005          1
6        11006          1
7        11007          1
8        11008          1
9        11009          0
10       11010          0
11       11011          1
12       11012          1
13       11013          0
14       11014          0
15       11015          0
16       11016          0
17       11019          1
18       11020          0
19       11023          0

In [21]:
print(BikeBuyer.shape)
print(BikeBuyer.CustomerID.unique().shape)b

(16519, 2)
(16404,)

In [22]:
BikeBuyer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(BikeBuyer.shape)
print(BikeBuyer.CustomerID.unique().shape)

(16404, 2)
(16404,)

## Customers demographic file